main{
    background-color: $primary-color-dark;
    height: 580px;
}
main{
    margin-top: 15px;
    padding-top: 80px;
    hr{
        border: solid 0.5px #ffffff;
        width: 150px;
        margin-bottom: 50px;
        margin-left: 0px;
    }
}
.title{
    font-family: $font-heading;
    font-size: 72px;
    color: #ffffff;
}
.text{
    font-family: $font-body;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 30px;
    padding-top: 20px;
}
.col-image{
    height: 580px;
    overflow: hidden;
    img{
        z-index: -5;
    }
}
.pattern-right > img{
    height: 540px;
    clip-path: inset(77px 0px 0px 0px);
    position: absolute;
    right: 0px;
    top: -6px;
    z-index: 1;
}