.options, .banner{
    hr{
        border: solid 0.5px $line-color;
        width: 120px;
        margin-bottom: 50px;
        margin-left: 0px;
    }
    h2{
    font-family: $font-heading;
    font-size: 60px;
    margin-bottom: 40px;
}
}
.options{
    margin-top: 250px;
}
section{
    margin-bottom: 80px;
    h3{
        font-family: $font-heading;
        margin-bottom: 15px;
    }
    p{
        font-family: $font-body;
    }
}
.icon{
    width: 20%;
    margin-bottom: 30px;
}

@media (max-width: 768px){
    .options{
        margin-top: 250px;
        h2{
            text-align: center;
            font-size: 47px;
        }
    }
    .description{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            text-align: center;
        }
    }
}
@media (max-width: 992px){
    .options{
        margin-top: 100px;
    }
    .icon{
        width: 30%;
    }
}

@media (max-width: 576px){
    .options{
        hr{
            margin: 30px auto;
        }
        h2{
            font-size: 50px;
        }
    }
}