$primary-color-dark: hsl(256, 26%, 20%);
$primary-color-blue: hsl(216, 30%, 68%);
$secondary-color: hsl(270, 9%, 17%);
$line-color: hsl(273, 4%, 51%);

@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
$font-heading: 'DM Serif Display', serif;

@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
$font-body: 'Karla', sans-serif;