
.nav-link{
    font-family: $font-body;
    text-transform: uppercase;
    color: $primary-color-dark;
    font-weight: 700;
    padding-right: 1.5em !important;
}
.navbar-nav{
    .btn{
        border-radius: 0;
        font-family: $font-body;
        font-weight: 700;
        text-transform: uppercase;
        padding: .375rem 1.75rem;
    }
        .btn-outline-primary{
            color: $primary-color-dark;
            border-color: $primary-color-dark;
            &:hover{
                background-color: $primary-color-dark;
                color: white;
                border-color: $primary-color-dark;
            }
        }
        
}
