.navbar{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.nav-link{
    font-family: $font-body;
    text-transform: uppercase;
    color: $primary-color-dark;
    font-weight: 700;
    padding-right: 1.5em !important;
}

